body{
    background-color: #3c3636;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100hv;

}

.button-group {
  display: flex;       
  flex-direction: column; 
  gap: 10px;         
  width: fit-content;  

  margin: 0 auto;
}
